.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    .card{
        margin-top: 5rem;
        border: 1px solid $verde;
        .login-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 6rem;
        }

        .form-img{
            width: 15rem;
            margin-bottom: 3rem;
        }
        .input{
            width: 30rem;
        }
        .login-button{
            color: $verde;
            border: 1px solid $verde;
        }
        .buttonarea{
            display: flex;
            justify-content: end;
        }
        @media screen and (max-width: 800px){
            .login-form{
                margin: 4rem;
            }
            .input{
                width: 15rem;
            }
        }
    }
}
