@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@500&family=Poppins&display=swap');

$fonte: 'Poppins', sans-serif;
$fonte-titulo: 'Murecho', sans-serif;
$verde: #45B549;
$tamanho-fonte: 16px;
$tamanho-fonte-titulo: 24px;